---
import { client } from '@lib/newt/client'
import type { GetStaticPathsOptions } from 'astro'
import type {
  CategoryData,
  CategoryItem,
  PostData,
  PostItem,
} from '@type/index'
import Layout from '@layouts/Layout.astro'
import PopularPosts from '@components/PopularPosts.astro'
import SideBar from '@components/SideBar.astro'
import MainPosts from '@components/MainPosts.astro'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const categoryData: CategoryData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_CATEGORY,
  })
  const categoryContents: CategoryItem[] = categoryData.items

  const postData: PostData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
  })

  return categoryContents.map((categoryContent: CategoryItem) => {
    const postsContents: PostItem[] = postData.items.filter(
      (item: PostItem) => item.category.slug === categoryContent.slug
    )
    return paginate(postsContents, {
      params: {
        category: categoryContent.slug,
      },
      props: { name: categoryContent.name },
      pageSize: 10,
    })
  })
}

const { page, name } = Astro.props
const { category } = Astro.params

const kvTitleEn = 'category'
const kvTitleJa = name
const kvProps = { kvTitleEn, kvTitleJa }

const pageType = 'category'
const pageSlug = category

const pageProps = { page, pageType, pageSlug }

const breadcrumbItems = [
  {
    name: 'ホーム',
    href: '/',
  },
  {
    name: name,
    href: `/${pageSlug}/`,
  },
]
---

<Layout title="category">
  <main class="container">
    <div class="main">
      <MainPosts
        kvProps={kvProps}
        pageProps={pageProps}
        postsContents={page.data}
      />
      <PopularPosts />
    </div>
    <SideBar breadcrumbItems={breadcrumbItems} />
  </main>
</Layout>

<style lang="scss">
  @use '../../../styles/variable' as var;

  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    margin: 0 auto;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      grid-template-columns: auto;
      width: 34rem;
      margin: 0 auto;
    }
  }
</style>
