---
import { Image } from '@astrojs/image/components'
import type { Post } from '../../type'
const { posts } = Astro.props
---

{
  posts.map((post: Post) => (
    <li class="item">
      <a href={post.href} class="itemLink">
        <Image
          src={post.imgSrc}
          alt={post.imgAlt}
          width="120"
          height="120"
          class="itemLinkImg"
        />
      </a>
      <div class="itemLinkContent">
        <div class="itemLinkContentInfo">
          <a href={post.categoryHref} class="itemLinkContentInfoCategory">
            {post.categoryName}
          </a>
          <time class="itemLinkContentInfoTime" datetime={post.timeDate}>
            {post.timeName}
          </time>
        </div>
        <p class="itemLinkContentTitle">{post.title}</p>
        <div class="itemLinkContentTag">
          <ul class="itemLinkContentTagList">
            {post.tags.map((tag) => (
              <li class="itemLinkContentTagItem">
                <a href={tag.href} class="itemLinkContentTagItemLink">
                  {tag.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </li>
  ))
}

<style lang="scss">
  .item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
  }
  .itemLink {
  }
  .itemLinkImg {
    width: 12rem;
    height: 12rem;
    border-radius: 4rem;
  }
  .itemLinkContentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .itemLinkContentInfoCategory {
    display: inline-block;
    min-height: 2.5rem;
    padding: 0.25rem 2.25rem;
    font-size: 1.2rem;
    border: 1px solid var(--color-black);
    border-radius: 2rem;
  }
  .itemLinkContentTitle {
    margin: 1rem 0 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .itemLinkContentTagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .itemLinkContentTagItemLink {
    font-size: 1.2rem;
  }
</style>
