---
import { Image } from '@astrojs/image/components'
import { client } from '@lib/newt/client'

const postsData = await client.getContents({
  appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
  modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
  query: {
    popular: true,
    limit: 3,
  },
})
const postsContents = postsData.items
---

<div class="container">
  <h2 class="title">人気の記事</h2>
  <div class="main">
    <ul class="mainList">
      {
        postsContents.map((postsContent) => (
          <li class="mainItem">
            <a href={`/${postsContent.slug}/`} class="mainItemLink">
              <Image
                src={postsContent.thumbnail.src}
                alt={postsContent.thumbnail.altText}
                width={postsContent.thumbnail.width}
                height={postsContent.thumbnail.height}
                class="mainItemLinkImg"
              />
              <div class="mainItemLinkContent">
                <p class="mainItemLinkContentTitle">{postsContent.title}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  .container {
    margin-top: 8rem;
  }
  .title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .mainList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  .mainItemLink {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
  }
  .mainItemLinkImg {
    width: 9rem;
    height: 9rem;
    border-radius: 3rem;
  }
  .mainItemLinkContentTitle {
    display: inline;
    font-size: 1.4rem;
    font-weight: bold;
    background-image: linear-gradient(
      var(--color-text-black),
      var(--color-text-black)
    );
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: 0 100%;
  }
</style>
