---
import dayjs from 'dayjs'
import { Image } from '@astrojs/image/components'
import type { KeywordItem } from '@type/index'
import PostContentMain from '@components/PostContentMain.astro'

const { postsContent } = Astro.props
---

<section class="container">
  <!-- header -->
  <div class="header">
    <!-- thumbnail -->
    <Image
      src={postsContent.thumbnail.src}
      alt={postsContent.thumbnail.altText}
      width={postsContent.thumbnail.width}
      height={postsContent.thumbnail.height}
      class="headerThumbnail"
    />
    <!-- content -->
    <div class="headerContent">
      <!-- title -->
      <h1 class="headerContentTitle">
        {postsContent.title}
      </h1>
      <!-- support -->
      <div class="headerContentSupport">
        <!-- info -->
        <div class="headerContentSupportInfo">
          <!-- category -->
          <a
            href={`/category/${postsContent.category.slug}/`}
            class="c-text__label headerContentSupportInfoCategory"
            >{postsContent.category.name}</a
          >
          <!-- keyword -->
          <div class="headerContentSupportInfoKeyword">
            <ul class="headerContentSupportInfoKeywordList">
              {
                postsContent.keyword.map((item: KeywordItem) => (
                  <li class="headerContentSupportInfoKeywordItem">
                    <a
                      href={`/keyword/${item.slug}/`}
                      class="c-text__keyword headerContentSupportInfoKeywordItemLink"
                    >
                      #{item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <!-- date -->
        <time
          datetime={postsContent.date}
          class="c-text__time headerContentSupportDate"
        >
          {dayjs(postsContent.date).format('YYYY.MM.DD')}
        </time>
      </div>
    </div>
  </div>
  <!-- body -->
  <div class="body">
    <!-- intro -->
    <div class="bodyIntro">
      <p class="c-text__default">
        {postsContent.introduction}
      </p>
    </div>
    <!-- toc -->
    <!-- <div class="bodyToc">
      <p class="c-title__md bodyTocTitle">目次</p>
      <div class="bodyTocMain">
        <ul class="bodyTocMainList">
          <li class="bodyTocMainItem">
            <a href="/" class="c-text__link bodyTocMainItemLink"
              >ここにタイトルが入ります</a
            >
            <ul class="bodyTocMainItemList">
              <li class="bodyTocMainItemItem">
                <a href="/" class="c-text__link bodyTocMainItemItemLink"
                  >ここにタイトルが入ります</a
                >
              </li>
              <li class="bodyTocMainItemItem">
                <a href="/" class="c-text__link bodyTocMainItemItemLink"
                  >ここにタイトルが入ります</a
                >
              </li>
              <li class="bodyTocMainItemItem">
                <a href="/" class="c-text__link bodyTocMainItemItemLink"
                  >ここにタイトルが入ります</a
                >
              </li>
            </ul>
          </li>
          <li class="bodyTocMainItem">
            <a href="/" class="c-text__link bodyTocMainItemLink"
              >ここにタイトルが入ります</a
            >
            <ul class="bodyTocMainItemList">
              <li class="bodyTocMainItemItem">
                <a href="/" class="c-text__link bodyTocMainItemItemLink"
                  >ここにタイトルが入ります</a
                >
              </li>
              <li class="bodyTocMainItemItem">
                <a href="/" class="c-text__link bodyTocMainItemItemLink"
                  >ここにタイトルが入ります</a
                >
              </li>
              <li class="bodyTocMainItemItem">
                <a href="/" class="c-text__link bodyTocMainItemItemLink"
                  >ここにタイトルが入ります</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- main -->
    <PostContentMain props={postsContent.content} />
    <!-- profile -->
    <div class="bodyProfile">
      <!-- editor -->
      <div class="bodyProfileEditor">
        <Image
          src="/asset/img/about/profile.jpg"
          alt=""
          width={70}
          height={70}
          class="bodyProfileEditorThumbnail"
        />
        <div class="bodyProfileEditorContent">
          <span class="bodyProfileEditorContentRole">編集者</span>
          <a href="/about/" class="c-text__link bodyProfileEditorContentName"
            >komosyu</a
          >
        </div>
      </div>
      <!-- description -->
      <p class="c-text__sm bodyProfileDescription">
        1995年生まれ。 <br />
        Web制作会社で3年程度勤務。 <br />
        制作会社のWebディベロッパーからフロントエンドエンジニアとして転職し、年収を上げた経験を元に「frocari」を運営。
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/variable' as var;

  .container {
    margin-top: 8rem;
    padding: 6rem 5.5rem;
    background-color: var(--color-gray);
    border-radius: 2rem;
    border: 1px solid var(--color-black);
  }
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--color-black);
  }
  .headerThumbnail {
    width: 18rem;
    height: 18rem;
    border-radius: 4rem;
  }
  .headerContentTitle {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .headerContentSupport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerContentSupportInfo {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2.5rem;
  }
  .headerContentSupportInfoKeywordList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
  }
  .bodyIntro {
    padding: 3rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
  }
  .bodyToc {
    margin-top: 3rem;
    padding: 3rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
  }
  .bodyTocMain {
    margin: 1.5rem 1.5rem 0;
  }
  .bodyTocMainList {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
  .bodyTocMainItem {
    list-style-type: disc;
  }
  .bodyTocMainItemLink {
    font-size: 1.4rem;
  }
  .bodyTocMainItemList {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
    margin: 0.5rem 1rem 0;
  }
  .bodyTocMainItemItem {
    list-style-type: disc;
  }
  .bodyTocMainItemItemLink {
    font-size: 1.4rem;
  }
  .bodyMain {
    margin-top: 7rem;
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 3rem;
      font-weight: bold;
    }
    h2 {
      font-size: 2.2rem;
    }
    p {
      margin-top: 3rem;
      font-size: 1.6rem;
      line-height: 1.8;
    }
    img {
      width: auto;
      height: auto;
      margin-top: 3rem;
    }
    ul {
      margin: 3rem 1.5rem 0;
      li {
        list-style-type: disc;
      }
    }
    ol {
      margin: 3rem 1.5rem 0;
      li {
        list-style-type: decimal;
      }
    }
    li {
      font-size: 1.6rem;
      line-height: 1.8;
    }
  }
  .bodyProfile {
    margin-top: 5rem;
    padding: 3rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
  }
  .bodyProfileEditor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
  .bodyProfileEditorContent {
    display: inline-grid;
    grid-template-columns: auto;
    gap: 0.5rem;
  }
  .bodyProfileEditorContentRole {
    font-size: 1.2rem;
    opacity: 0.6;
  }
  .bodyProfileEditorContentName {
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
  }
  .bodyProfileDescription {
    margin-top: 1rem;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      margin-top: 5rem;
      padding: 4rem 2rem;
    }
    .header {
      grid-template-columns: auto;
      margin-bottom: 3.5rem;
      padding-bottom: 3.5rem;
    }
    .headerThumbnail {
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
    }
    .headerContentTitle {
      margin-bottom: 1.5rem;
      font-size: 2.2rem;
    }
    .headerContentSupportInfo {
      grid-template-columns: auto;
      gap: 1rem;
    }
    .bodyIntro {
      padding: 1.5rem;
    }
    .bodyProfile {
      margin-top: 4rem;
      padding: 2rem;
    }
  }
</style>
